# OS files
.DS_Store
Thumbs.db
*~
.#*
._*
\#*\#

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
bin/
*.iml
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# PyBuilder
target/

# Jupyter
.ipynb_checkpoints/

# Celery
celerybeat-schedule

# SageMath
*.sage.py

# Environments
.python-version
.env
.venv
env/
venv/
ENV/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# MyPy
.mypy_cache/

# mkdocs
/site

# Vim
*.sw[nop]
.ropeproject

# Sublime
*.sublime-*

# Sublime
*.sublime-*

# Coconut
coconut/
tests/
