# OS files
.DS_Store
Thumbs.db
*~
.#*
._*
\#*\#
.cache

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
bin/
*.iml
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# PyBuilder
target/

# Ipython
.ipynb_checkpoints

# Vim
*.sw[nop]
.ropeproject

# Sublime
*.sublime-*

# Coconut
tests/dest/
docs/
