repos:
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
    -   id: autopep8
        args:
        - --in-place
        - --aggressive
        - --aggressive
        - --experimental
        - --ignore=W503,E501,E722,E402,E721
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.5.0
    hooks:
    -   id: check-added-large-files
    -   id: fix-byte-order-marker
    -   id: fix-encoding-pragma
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-case-conflict
    -   id: check-vcs-permalinks
    -   id: check-ast
    -   id: check-builtin-literals
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
    -   id: check-toml
    -   id: check-symlinks
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
    -   id: detect-private-key
    -   id: pretty-format-json
        args:
        - --autofix
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        args:
        - --ignore=W503,E501,E265,E402,F405,E305,E126
