global-include *.py
global-include *.pyi
global-include *.py_template
global-include *.pth
global-include *.txt
global-include *.rst
global-include *.md
global-include *.json
global-include *.toml
global-include *.coco
global-include *.ini
global-include py.typed
prune coconut/tests/dest
prune docs
prune pyston
prune pyprover
prune bbopt
prune coconut-prelude
prune .mypy_cache
prune .pytest_cache
prune *.egg-info
prune .github
exclude index.rst
exclude profile.json
