global-include *.py
global-include *.pyi
global-include *.py_template
global-include *.pth
global-include *.txt
global-include *.rst
global-include *.md
global-include *.json
global-include *.toml
prune tests
prune docs
prune .mypy_cache
prune coconut/stubs/.mypy_cache
prune *.egg-info
exclude index.rst
exclude profile.json
