name: Coconut Test Suite
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['2.7', 'pypy-2.7', '3.5', '3.6', '3.7', '3.8', '3.9', 'pypy-3.6']
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: make install
      - run: make test-all
      - run: make build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: evhub-develop
          password: ${{ secrets.PYPI_API_TOKEN }}
        continue-on-error: true
